span {
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 27px;
    color: #254626;
}

.ui-datepicker.ui-widget.ui-widget-content.ui-helper-clearfix.ui-corner-all {
    min-width: 20%;
    position: none!important; 
    left: 40% !important;
    top: 0% !important;
}

.ui-datepicker-calendar {
    width: 100%; 
}

#ui-datepicker-div {
    top: 550px !important;
    left: 28.7% !important;

}

.container-date {
    width: 89%;
    margin: 0 auto;
    margin-top: -30px;
}

a.ui-state-default.ui-state-active{
    color: black;
    background: rgba(63, 241, 0, 0.2);
}

.date.hasDatepicker{
        padding-left: 30px;
        font-family: 'Merriweather';
        font-style: normal;
        font-weight: 700;
        font-size: 35px;
        line-height: 44px;
        /* identical to box height */
    
        color: #254626;
        width: 100%;
        height: 86px;
        margin: 0 auto;
        margin-top: 30px;
        margin-bottom: 0px;
        background: rgba(63, 241, 0, 0.2);
}