@media(max-width:1645px) {
    header {
        width: 100%;
    }

    .container-footer {
        width: 100%;
    }

    .container-record {
        display: none;
    }

    .content {
        margin: 50px auto;
    }

    .container-content {
        width: 91%;
        margin: 0 auto;
        border: 3px solid #C4C4C4;
    }

    body {
        font-size: 22px;
    }

    .under-text {
        font-size: 22px;
    }
    .text {
        font-size: 42px;
    }

    .text-march {
        font-size: 42px;
    }

    .text-underline {
        font-size: 22px;
    }

    .number {
        font-size: 22px;
    }

    h4 {
        font-size: 26px;
    }

    .under-colli {
        font-size: 22px;
    }

    .text-page4 {
        font-size: 42px;
    }

    .content-text {
        font-size: 22px;
    } 

    .button-page4{
        font-size: 22px;
    }

    .form{
        font-size: 22px;
    }

}


@media(max-width:1860px) {
    .container-page3 {
        width: 58%;
        justify-content: center;
        grid-template-columns: repeat(auto-fit, 100%);
    }

    .container-bottles {
        justify-content: space-around;
    }

    .container-new {
        max-width: 100%;
        margin: 30px auto;
    }

    .button-page3 {
        margin: 0 auto;
    }

    .container-img {
        margin: 40px auto;
    }
}