.container-colc {
    height: 336px;
    background-image: url(../img/mainBackground.png);
    width: 100%;
    background-size: cover;
    -moz-background-size: cover;
    /* Firefox 3.6 */
    background-position: center;
}

.title-colc {
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 700;
    text-align: center;
    padding-top: 100px;
    font-size: calc(40px + 30* (100vw / 1440));
    color: #254626;
}

.under-title-colc {
    text-align: center;
    font-family: 'Comfortaa';
    font-style: normal;
    font-weight: 400;
    font-size: calc(17px + 5* (100vw / 1440));
}

.container-line {
    width: 100%;
    height: 20%;
    border-top: 1px solid black;
    border-bottom: 1px solid black;

}

.title-in-lines {
    padding: 13px 0;
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 700;
    text-align: center;
    font-size: calc(30px + 23* (100vw / 1440));
    color: #254626;
}

.first-infa{
padding-top:30px;
}
.last-infa{
padding-bottom: 30px;
}

.block-1 {
    height: 100%;
    background-image: url(../img/blok-1.png);
    width: 100%;
    background-size: cover;
    -moz-background-size: cover;
    /* Firefox 3.6 */
    background-position: center;
}

.infa-block-1 {
    margin: 0 auto;
    max-width: 90%;
    display: grid;
    grid-template-columns: 3fr 2fr 1fr;
    gap: 15%;
}

.name-food {
    padding: 21px 0;
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 400;
    font-size: calc(16px + 15* (100vw / 1440));
    color: #254626;
    white-space: nowrap;
}

.price-food {
    padding-top: 43px;
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 400;
    font-size: calc(16px + 15* (100vw / 1440));
    color: #254626;
    margin: 0 auto;

}

.add {
    text-align: center;
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 400;
    font-size: calc(17px + 5* (100vw / 1440));
    color: #254626;
}

.container-for-quality {
    padding: 25px 0;
}
.block-2 {
    height: 100%;
    background-image: url(../img/blok-2.png);
    width: 100%;
    background-size: cover;
    -moz-background-size: cover;
    /* Firefox 3.6 */
    background-position: center;
}

.block-3 {
    height: 100%;
    background-image: url(../img/blok-3.png);
    width: 100%;
    background-size: cover;
    -moz-background-size: cover;
    /* Firefox 3.6 */
    background-position: center;
}
@media(max-width: 1253px) {
    .name-food {
        white-space: normal;
    }
    .infa-block-1 {
        max-width: 95%;

    }
}
@media(max-width: 1838px) {
    .name-food {
        white-space: normal;
    }   
}


.container-last {
    height: 100%;
    background-image: url(../img/lastBacground.png);
    width: 100%;
    background-size: cover;
    -moz-background-size: cover;
    /* Firefox 3.6 */
    background-position: center;
    border-top: 2px solid #000;
}

.total{
    margin: 0 auto;
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 700;
    text-align: center;
    padding-top: 50px;
    font-size: calc(26px + 30* (100vw / 1440));
    color: #254626;
    width: 24%;
    border-bottom: 1px solid #000;
}

.money{
    padding: 15px 0;
    font-family: 'Comfortaa';
font-style: normal;
font-weight: 400;
font-size: calc(24px + 18* (100vw / 1440));
color: #254626;
margin: 0 auto;
text-align: center;
}

.collor{
    padding: 15px 0;
    font-family: 'Comfortaa';
font-style: normal;
font-weight: 400;
font-size: calc(24px + 18* (100vw / 1440));
color: #254626;
margin: 0 auto;
text-align: center;
}
