.number {
    margin: 0 0;
    margin-top: 7px;
    width: 40%;
    margin: 0 auto;
   display: grid;
   grid-template-columns: 0.3fr 0.4fr 0.3fr;
}

.number input[type="number"] {
width: 80%;
    height: 43px;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-align: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: calc(20px + 20* (100vw / 1440));
    background: none;

    color: #254626;

}

.number input[type="number"]::-webkit-outer-spin-button,
.number input[type="number"]::-webkit-inner-spin-button {
    display: none;
}

.number-minus {
    top: 0px;
    left: 0px;
    bottom: 0px;
    padding: 0;
    font-family: 'Roboto';
    background: none;
    font-style: normal;
    font-weight: 400;
    font-size: calc(13px + 13* (100vw / 1440));
    text-align: center;
    color: #254626;

}

.number-plus {
    top: 0px;
    right: 0px;
    bottom: 0px;
    padding: 0;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: calc(13px + 13* (100vw / 1440));
    text-align: center;
    background: none;
    color: #254626;

}

