* {
	margin: 0;
	padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}

a{
	text-decoration: none;

}

body {
	max-width: 1920px;
	width: 1920px;
	line-height: 1.6;
}

/*header*/
header {
	position: absolute;
	width: 1920px;
	height: 237px;
	left: 0px;
	top: 0px;

	background: #CDB4B0;
}

.container__header {
	width: 560px;
	height: 237px;
	margin: 0 auto;
}

.header__logo {
	margin-top: 13px;
	margin-left: 210px;
}

.menu {
	position: absolute;
	position: absolute;
	width: 547px;
	height: 49px;
	left: 699px;
	top: 151px;
	padding-left: 38px;
}

.menu a {
	display: inline;
	padding-right: 52px;
	text-transform: uppercase;
	font-family: Barlow;
	font-style: normal;
	font-weight: normal;
	font-size: 36px;
	line-height: 43px;
	align-items: center;
	text-align: center;

	color: #000000;
}

/*page1*/
.page1 {
	width: 1920px;
	height: 1365.33px;

	background: #E4E4E4;
	mix-blend-mode: normal;
}

.fon__page1 {
	position: absolute;
	left: 237px;
	top: 358px;
}

.rectangle__page1 {
	position: absolute;
	width: 901px;
	height: 796px;
	left: 123px;
	top: 363px;
	background: rgba(51, 51, 51, 0.3);
}

.text {
	position: absolute;
	width: 650px;
	height: 344px;
	left: 114px;
	top: 136px;
	font-family: Lato;
	font-style: normal;
	font-weight: 800;
	font-size: 100px;
	line-height: 120px;
	display: flex;
	align-items: center;
	text-align: center;

	color: #E4E4E4;

	backdrop-filter: blur(1px);
}

.under__text {
	position: absolute;
	width: 531px;
	height: 37px;
	left: 196px;
	top: 487px;
	font-family: Barlow;
	font-style: normal;
	font-weight: normal;
	font-size: 50px;
	line-height: 60px;
	display: flex;
	align-items: center;
	text-align: center;

	color: #E4E4E4;

}

/*page2*/
.page2 {
	width: 100%;
	position: relative;
	width: 1920px;
	height: 1363px;
	background: #CDB4B0;
}

.text__page2 {
	position: absolute;
	width: 500px;
	height: 100px;
	left: 742px;
	top: 176px;

	font-family: Lato;
	font-style: normal;
	font-weight: 800;
	font-size: 100px;
	line-height: 120px;
	display: flex;
	align-items: center;
	text-align: center;

	color: #FFFFFF;

	backdrop-filter: blur(4px);
}

.undertext__page2 {
	position: absolute;
	width: 423px;
	height: 64px;
	left: 764px;
	top: 276px;

	font-family: Barlow;
	font-style: normal;
	font-weight: normal;
	font-size: 50px;
	line-height: 60px;
	display: flex;
	align-items: center;
	text-align: center;

	color: #FFFFFF;

}

.write {
	position: absolute;
	width: 952px;
	height: 896px;
	left: 0px;
	top: 467px;

}

.logo {
	position: absolute;
	left: 42px;
	top: 530px;

	font-family: Lato;
	font-style: normal;
	font-weight: 800;
	font-size: 48px;
	line-height: 58px;
	display: flex;
	align-items: center;
	text-align: center;

	color: #FFFFFF;

	backdrop-filter: blur(4px);

}

.promote {
	position: absolute;
	left: 37px;
	top: 634px;

	font-family: Barlow;
	font-style: normal;
	font-weight: normal;
	font-size: 48px;
	line-height: 58px;
	display: flex;
	align-items: center;
	text-align: center;

	color: #FFFFFF;
}

.work {
	position: absolute;
	width: 968px;
	height: 896px;
	left: calc(50% - 968px/2 + 476px);
	top: calc(50% - 896px/2 + 233.5px);
}

.attract {
	position: absolute;
	left: 990px;
	top: 634px;

	font-family: Barlow;
	font-style: normal;
	font-weight: normal;
	font-size: 48px;
	line-height: 58px;
	display: flex;
	align-items: center;
	text-align: center;
	color: #FFFFFF;
}

.web {
	position: absolute;
	left: 990px;
	top: 530px;

	font-family: Lato;
	font-style: normal;
	font-weight: 800;
	font-size: 48px;
	line-height: 58px;
	display: flex;
	align-items: center;
	text-align: center;

	color: #FFFFFF;

}

.but1 {
	position: absolute;
	width: 314px;
	height: 83px;
	left: 326px;
	top: 1204px;
	background: rgba(205, 180, 176, 0.5);
	mix-blend-mode: normal;
	border: 5px solid #FFFFFF;
	box-sizing: border-box;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 40px;
}
.but1:active {
    background-image: radial-gradient(ellipse farthest-corner at 50% 50%, #A26840,#777); 
    }

.learn {
	position: absolute;
	left: 14.29%;
	right: 14.29%;
	top: 25.3%;
	bottom: 25.3%;


	font-family: Lato;
	font-style: normal;
	font-weight: normal;
	font-size: 36px;
	line-height: 43px;
	display: flex;
	align-items: center;
	text-align: center;

	color: #FFFFFF;
}

.but2 {
	position: absolute;
	width: 314px;
	height: 83px;
	left: 1282px;
	;
	top: 1204px;
	background: rgba(205, 180, 176, 0.5);
	mix-blend-mode: normal;
	border: 5px solid #FFFFFF;
	box-sizing: border-box;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 40px;
}
.but2:active {
    background-image: radial-gradient(ellipse farthest-corner at 50% 50%, #A26840,#777); 
    }

/*page3*/
.page3 {
	position: relative;
	width: 1920px;
	height: 1500px;
	background: #CDB4B0;
}

.photos {
	position: absolute;
	left: 0px;
	top: 49px;

	background: #CDB4B0;
}

.rec1__page3 {
	position: absolute;
	width: 1920px;
	height: 609px;
	left: 0px;
	top: 638px;

	background: #E4E4E4;
}

.text__page3 {
	position: absolute;
	
	left: 591px;
	top: 13 px;

	font-family: Lato;
	font-style: normal;
	font-weight: 800;
	font-size: 100px;
	line-height: 120px;
	display: flex;
	align-items: center;
	text-align: center;

	color: #000000;
}

.icon {
	position: absolute;
	left: calc(50% - 1340px/2 + 6px);
	top: 150px;
}

.text1__page3 {
	position: absolute;
	width: 729px;
	height: 161px;
	left: 18px;
	top: 350px;

	font-family: Barlow;
	font-style: normal;
	font-weight: normal;
	font-size: 48px;
	line-height: 58px;
	display: flex;
	align-items: center;
	text-align: center;

	color: #000000;
}

.text2__page3 {
	position: absolute;
	width: 480px;
height: 173px;
	left: 766px;
	top: 345px;

	font-family: Barlow;
	font-size: 50px;
	line-height: 60px;
	display: flex;
	align-items: center;
	text-align: center;

	color: #000000;

}

.text3__page3 {
	position: absolute;
	width: 397px;
height: 44px;
	left: 1397px;
	top: 350px;

	font-family: Barlow;
	font-style: normal;
	font-weight: normal;
	font-size: 48px;
	line-height: 58px;
	display: flex;
	align-items: center;
	text-align: center;

	color: #000000;
}

.container__footer{
	position: absolute;
	width: 1920px;
height: 192px;
left: 0px;
top: 1247px;
background: #CDB4B0;
}

.footer{
	margin-top: 33px;
	margin-left: 880px;
}